<a href="https://colab.research.google.com/github/gitdhirajsv/Awesome-Quant-Machine-Learning-Trading/blob/master/Data_Analyst_Interview_Questions_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Data Analyst.jpg](attachment:d7576614-430f-44db-abe5-a751f03de681.jpg)

# **Python**

It can be stated that a significant portion, approximately 80%, of the responsibilities of a Machine Learning Engineer and Data Analyst revolves around data acquisition and data cleaning. Pandas, being one of the fundamental libraries in any data science workflow, plays a crucial role in facilitating data manipulation, transformation, and manipulation. Let's explore and review the frequently encountered Pandas and Python Interview Questions and Answers that are essential for your upcoming machine learning, data analyst, or data science interview.

**Questions will be from easy to difficult**

1. **Amazon Questions**
2. **Frobes Questions**
3. **Flipkart Questions**
4. **Meta/facebook Questions**
5. **Lyft Questions**

## **1. How to create new columns derived from existing columns in Pandas?**

`Answer:`

* We create a new column by assigning the output to the DataFrame with a new column name in between the [].
* Let's say we want to create a new column 'C' whose values are the multiplication of column 'B' with column 'A'. The operation will be easy to implement and will be element-wise, so there's no need to loop over rows.

In [ ]:
import pandas as pd

# Create example data
df = pd.DataFrame({
  "A": [420, 380, 390,450,320,890,100,200],
  "B": [50, 40, 45,92,40,50,76,98]
})

df["C"] = df["A"] * df["B"]

df

## **2.A column in a df has boolean True/False values, but for further calculations, we need 1/0 representation. How would you transform it?**

`Answer:`

A succinct way to convert a single column of boolean values to a column of integers 1 or 0 is:

In [ ]:
df["A"] = df["A"].astype(int)

## **3 Describe how you will get the names of columns of a DataFrame in Pandas?**

`Answer:`

By Simply iterating over columns, and printing the values.

In [ ]:
for col in df.columns:
    print(col)

In [ ]:
list(df.columns)

In [ ]:
#Using the column.values() method to return an array of index.

list(df.columns.values)

In [ ]:
#Using sorted() method, which will return the list of columns sorted in alphabetical order.

sorted(df)

## **Q4: How are iloc() and loc() different?**

`Answer:`

* `DataFrame.iloc` is a method used to retrieve data from a Data frame, and it is an integer position-based locator (from 0 to length-1 of the axis), but may also be used with a boolean array. It takes input as integer, arrays of integers, a slice object, boolean array and functions.

In [ ]:
df.iloc[0]
df.iloc[-5:]
df.iloc[:, 2]    # the : in the first position indicates all rows
df.iloc[:3, :3] # The upper-left 3 X 3 entries (assuming df has 3+ rows and columns)

* `DataFrame.loc` gets rows (and/or columns) with particular labels. It takes input as a single label, list of arrays and slice objects with labels.

In [ ]:
data = {
    'Name': ['John', 'Emily', 'Michael', 'Emma', 'Daniel'],
    'Age': [25, 30, 35, 28, 32],
    'City': ['New York', 'London', 'Paris', 'Sydney', 'Tokyo'],
    'Salary': [50000, 60000, 70000, 55000, 65000]
}
df = pd.DataFrame(data)
print(df, '\n \n')
print(df.loc[0],'#Index + 1st column','\n')
print(df.loc[1:3],'# 0 to 2nd rows ','\n')
print(df.loc[:, 'Name'],'# All rows and only Name column')

In [ ]:
df.columns

## **Q5: How can you sort the DataFrame?**

`Answer:`

The function used for sorting in pandas is called DataFrame.sort_values(). It is used to sort a DataFrame by its column or row values. The function comes with a lot of parameters, but the most important ones to consider for sort are:

* **by:** The optional by parameter is used to specify the column/row(s) which are used to determine the sorted order.
* **axis:** specifies whether sort for row (0) or columns (1),
* **ascending:** specifies whether to sort the dataframe in ascending or descending order. The default value is ascending. To sort in descending order, we need to specify ascending=False.

In [ ]:
import numpy as np
df = pd.DataFrame({
    'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
    'col2': [2, 1, 9, 8, 7, 4],
    'col3': [0, 1, 9, 4, 2, 3],
    'col4': ['a', 'B', 'c', 'D', 'e', 'F']
})
print(df)

In [ ]:
df.sort_values(by = ['col1'])

In [ ]:
df.sort_values(by = ['col1', 'col2'], ascending = False)

**Q6: How can you find the row for which the value of a specific column is max or min?**

`Answer:`

In [ ]:
import pandas as pd
data = np.random.randint(1, 10, size=(5, 3))
df = pd.DataFrame( data,columns = ['A', 'B', 'C'])
df

* Use the pandas idxmax and idxmin function. It's straightforward:

Maximal value:

In [ ]:
df.A.idxmax()

In [ ]:
df.B.idxmin()

## **7: How can you get a list of Pandas DataFrame columns based on data type?**

`Answer:`

In [ ]:
df = pd.DataFrame({'NAME': list('abcdef'),
        'On_Time': [True, False] * 3,
        'On_Budget': [False, True] * 3})
print(df)

In [ ]:
df.select_dtypes(include = 'boolean')

In [ ]:
my_list = list(df.select_dtypes(include = 'boolean'))
my_list

## **8: How does the groupby() method works in Pandas?**

`Answer:`

* In the first stage of the process, data contained in a pandas object, whether a `Series` ,`DataFrame`, or otherwise, is split into groups based on one or more keys that we provide.

* The splitting is performed on a particular axis of an object. For example, a **DataFrame** can be grouped on its rows **(axis=0)** or its columns **(axis=1)**.

* Once this is done, a function is applied to each group, producing a new value. Finally, the results of all those function applications are combined into a result object. The form of the resulting object will usually depend on what's being done to the data.

## **9: How to split a string column in a DataFrame into two columns?**

`Answer:`

In [ ]:
df = pd.DataFrame({'row': ['00000 UNITED STATES', '01000 ALABAMA',
                           '01001 Autauga County, AL', '01003 Baldwin County, AL',
                           '01005 Barbour County, AL']})
df

You can use `str.split` by whitespace (default separator) and parameter `expand=True` for DataFrame with assign to new columns:

In [ ]:
df[['code', 'location']] = df['row'].str.split(n = 1, expand = True)
df

## **10: How to check whether a Pandas DataFrame is empty?**

`Answer:`

You can use the attribute `df.empty` to check whether it's empty or not:

In [ ]:
df = pd.DataFrame({'c1': [10, 11, 12], 'c2': [100, 110, 120]})

In [ ]:
for index, rows in df.iterrows():
    print(rows['c1'], rows['c2'])

## **Q12: What are the operations that Pandas Groupby method is based on ?**

`Answer:`
* Splitting the data into groups based on some criteria.
* Applying a function to each group independently.
* Combining the results into a data structure.

## **Q13: What does describe() percentiles values tell about our data?**

`Answer:`
The percentiles describe the distribution of your data: **50** should be a value that describes the middle of the data, also known as median. **25**, **75** is the border of the upper/lower quarter of the data. With this can get an idea of how skew our data is.

## **Q14: Why do should make a copy of a DataFrame in Pandas?**

`Answer:`

In general, it is safer to work on copies than on original DataFrames, except when you know that you won't be needing the original anymore and want to proceed with the manipulated version.

This is because in Pandas, indexing a DataFrame returns a reference to the initial DataFrame. Thus, changing the subset will change the initial DataFrame. Thus, you'd want to use the copy if you want to make sure the initial DataFrame shouldn't change.

Normally, you would still have some use for the original data frame to compare with the manipulated version, etc. Therefore, depending on the case it's a good practice to work on copies and merge at the end.

## **15: Compare the Pandas methods: map(), applymap(), apply()**

`Answer:`

1. The **map()** method is an elementwise method for only Pandas Series, it maps values of Series according to input correspondence.

    * It accepts dicts, Series, or callable. Values that are not found in the dict are converted to NaN,

In [ ]:
s = pd.Series(['cat', 'dog', np.nan, 'rabbit'])
print(s, '\n')

s.map({'cat': 'kitten', 'dog': 'puppy'})

2. The **applymap()** method is an elementwise function for only DataFrames, it applies a function that accepts and returns a scalar to every element of a DataFrame.

    * It accepts callables only i.e a Python function.

In [ ]:
df = pd.DataFrame([[1, 2.12], [3.356, 4.567]])
print(df)

In [ ]:
df.applymap(lambda x : int(x *x))

3. The **apply()** method also works elementwise, as it applies a function along input axis of DataFrame. It is suited to more complex operations and aggregation.

    * It accepts the callables parameter as well.

In [ ]:
round(df.apply(np.sqrt),2)

## **16: Describe how you can combine (merge) data on Common Columns or Indices?**

`Answer:`

* Using **.merge()** method which merges DataFrame or named Series objects with a database-style join.**You have inner, left, right and outer merge operation**.

* By default, the Pandas merge operation acts with an **“inner” merge**. An inner merge, keeps **only the common values in both the left and right dataframes for the result**.

* **Left merge**, keeps every row in the left dataframe. Where there are missing values of the “on” variable in the right dataframe, **it adds empty / NaN values in the result**.
* **Right merge**, keeps every row in the right dataframe. Where there are missing values of the “on” variable in the left column, **it adds empty / NaN values in the result**.
* A full outer join **returns all the rows from the left dataframe**, all the rows from the right dataframe, and matches up rows where possible, with NaNs elsewhere

In [ ]:
df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})

In [ ]:
print(df1.merge(df2),'\n \n') #By default its Inner merge
print(df1.merge(df2, how ='right', on ='a'), '\n \n')
print(df1.merge(df2, how ='left', on ='a'))

## **17.Find a way to binary encode multi-valued categorical variables from a Pandas dataframe**

`Answer:`
* If [0, 1, 2] are numerical labels and is not the index, then `pandas.DataFrame.pivot_table` works:

In [ ]:
data = pd.DataFrame.from_records(
    [[0, 'A'], [0, 'B'], [1, 'B'], [1, 'C'], [1, 'D'], [2, 'B'], [2, 'D']],
    columns=['number_label', 'category'])
data.pivot_table(index=['number_label'], columns=['category'], aggfunc=[len], fill_value=0)

Now if [0, 1, 2] is the index, then `collections.Counter` is useful:

In [ ]:
import collections
data2 = pd.DataFrame.from_dict(
    {'categories': {0: ['A', 'B'], 1: ['B', 'C', 'D'], 2:['B', 'D']}})
data3 = data2['categories'].apply(collections.Counter)
data3 = pd.DataFrame.from_records(data3).fillna(value=0)
data3.applymap(lambda x: int(x))

## **18: Group DataFrame Rows into a List**

`Answer:`

In [ ]:
df = pd.DataFrame( {'a':['A','A','B','B','B','C'], 'b':[1,2,5,5,4,6]})
df

The approach here is to use **groupby** to group on the column of interest and then use the `apply()` method to apply list the function to every group generated:

In [ ]:
df1 = df.groupby('a')['b'].apply(list).reset_index(name='new')
df1

## **19 How can I achieve the equivalents of SQL's IN and NOT IN in Pandas?**

`Answer:`
* Use `pd.Series.isin`.
* For **IN** use: **something.isin**(somewhere)

In [ ]:
df[df['a'].isin([3, 6])]

For `NOT IN`: ~**something.isin**(somewhere)

In [ ]:
df[-df["a"].isin([3, 6])]
df[~df["a"].isin([3, 6])]
df[df["a"].isin([3, 6]) == False]
df[np.logical_not(df["a"].isin([3, 6]))]

## **20: How do you split a DataFrame according to a boolean criterion?**

`Answer:`
We can create a mask to separate the dataframe and then use the inverse operator (~) to take the complement of the mask.

In [ ]:
df = pd.DataFrame({'A': 'foo bar foo bar foo bar foo foo'.split(),
                   'B': 'one one two three two two one three'.split(),
                   'C': np.arange(8), 'D': np.arange(8) * 2})
df

In [ ]:
m = df['A'] != 'foo'
a, b = df[m], df[~m]

In [ ]:
print(a,b)

## **21: How will you write DataFrame to PostgreSQL table?**

`Answer:`

Using Pandas `to_sql` module, you can create an `SQLAlchemy` engine, and write records stored in a DataFrame to a SQL database.

In [ ]:
# from sqlalchemy import create_engine

# # Replace 'your_connection_string' with the actual connection string for your database
# connection_string = 'postgresql://username:password@host:port/database_name'

# # Create the engine using the valid connection string
# engine = create_engine(connection_string)

# # Now you can use the engine to write the DataFrame to a table in the database
# df.to_sql('table_name', engine)

## **22: How would you encode a large Pandas dataframe using Scikit-Learn?**

`Answer:`

We can use **LabelEncoder** to encode a Pandas DataFrame of string or numerical labels. If the dataframe has many columns (`50+`, for example) creating a **LabelEncoder** for each feature is not efficient. In `scikit-learn`, the recommended way is to encode all the features is:

**`OneHotEncoder().fit_transform(df)`**

## **23: How would you convert continuous values into discrete values in Pandas?**

`Answer:`

Depending on the problem, continuous values can be discretized using the `cut()` or `qcut()` function:

* `cut()` bins the data based on values. We use it when we need to segment and sort data values into bins evenly spaced. **cut** will choose the bins to be evenly spaced according to the values themselves and not the frequency of those values. For example, **cut** could convert ages to groups of age ranges.

* `qcut()` bins the data based on sample quantiles. We use it when we want to have the same number of records in each bin or simply study the data by quantiles. For example, if in a data we have **30** records, and we want to compute the quintiles, **qcut()** will divide the data such that we have **6** records in each bin.

## **24: How would you create Test (20%) and Train (80%) Datasets with Pandas?**

`Answer:`

scikit learn's `train_test_split` is a good one - it will split both numpy arrays as dataframes.

> **from sklearn.model_selection import train_test_split**<br>
> **train, test = train_test_split(df, test_size=0.2)**

## **25: Is it a good idea to iterate over DataFrame rows in Pandas?**

`Answer:`

Iteration in Pandas is an anti-pattern and is something you should only do when you have exhausted every other option. Iterating through pandas objects is generally slow. In many cases, iterating manually over the rows is not needed. You should not use any function with **"iter"** in its name for more than a few thousand rows or you will have to get used to a lot of waiting.

Do you want to print a DataFrame? Use **DataFrame.to_string()**.

Do you want to compute something? In that case, search for methods in this order (list modified from here):

* Vectorization
* Cython routines
* List Comprehensions (vanilla for loop)
* **DataFrame.apply():** i)  Reductions that can be performed in Cython, ii) Iteration in Python space
* **DataFrame.itertuples()** and **iteritems()**
* **DataFrame.iterrows()**

`iterrows` and `itertuples` (both receiving many votes in answers to this question) should be used in very rare circumstances, such as generating row objects/nametuples for sequential processing, which is really the only thing these functions are useful for.

## **26: Name some type conversion methods in Pandas**

`Answer:`

* `to_numeric()` - provides functionality to safely convert non-numeric types (e.g. strings) to a suitable numeric type.
* `astype()` - convert (almost) any type to (almost) any other type. Also allows you to convert to categorial types (very useful).
* `infer_objects()` - a utility method to convert object columns holding Python objects to a pandas type if possible. It does this by inferring better dtypes for object columns.
* `convert_dtypes()` - convert DataFrame columns to the "best possible" `dtype` that supports `pd.NA` (pandas' object to indicate a missing value).

## **27: Pivot Table Challenge**

`Answer:`

In [ ]:
df = pd.DataFrame({"Col X": ['class 1', 'class 2', 'class 3', 'class 2'],
                   "Col Y": ['cat 1', 'cat 1', 'cat 2', 'cat 3']})
df

To provide the required **df** we use the function pivot_table with the parameters **index='Col X', columns='Col Y'** and as aggfunc, len:

In [ ]:
pd.pivot_table(df, index=['Col X'], columns=['Col Y'], aggfunc=len, fill_value=0)

Another solution is using groupby on **'Col X','Col Y'** with unstack over **Col Y**, then fill **NaNs** with zeros.

In [ ]:
# df.groupby((['Col X','Col Y']).size().unstack('Col Y', fill_value=0)['Col Y'], aggfunc=len, fill_value=0)

## **29: What is the difference between join() and merge() in Pandas?**

`Answer:`

merge is a function in the pandas namespace, and it is also available as a DataFrame instance method, with the calling DataFrame being implicitly considered the left object in the join.

The related DataFrame.join method, uses merge internally for the index-on-index and index-on-column(s) joins, but joins on indexes by default rather than trying to join on common columns (the default behavior for merge). If you are joining on index, you may wish to use DataFrame.join to save yourself some typing.

These are the main differences between df.join() and df.merge():

* **lookup on right table:** df1.join(df2) always joins via the index of df2, but df1.merge(df2) can join to one or more columns of df2 (default) or to the index of df2 (with right_index=True).
* **lookup on left table:** by default, df1.join(df2) uses the index of df1 and df1.merge(df2) uses column(s) of df1. That can be overridden by specifying df1.join(df2, on=key_or_keys) or df1.merge(df2, left_index=True).
* **left vs inner join:** df1.join(df2) does a left join by default (keeps all rows of df1), but df.merge does an inner join by default (returns only matching rows of df1 and df2).

## **30: What is the difference(s) between merge() and concat() in Pandas?**

`Answer:`

At a high level:

* concat() simply stacks multiple DataFrame together either vertically, or stitches horizontally after aligning on index
* merge() first aligns two DataFrame' selected common column(s) or index, and then pick up the remaining columns from the aligned rows of each DataFrame.

More specifically, **.concat():**

Is a top-level pandas function
Combines two or more pandas `DataFrame` vertically or horizontally
Aligns only on the index when combining horizontally
Errors when any of the `DataFrame` contains a duplicate index.
Defaults to outer join with the option for inner join

And **.merge():**

* Exists both as a top-level pandas function and a `DataFrame` method (as of pandas 1.0)
* Combines exactly two `DataFrame` horizontally
* Aligns the calling `DataFrame`'s column(s) or index with the other DataFrame's column(s) or index
* Handles duplicate values on the joining columns or index by performing a cartesian product
* Defaults to inner join with options for left, outer, and right

## **31: What's the difference between at and iat in Pandas?**

`Answer:`

`at` and `iat` are functions meant to access a scalar, that is, a single element in the dataframe.

With **.at:**

* Selection is label based but it only selects a single 'cell' in your DataFrame.
* We can assign new indices and columns.
* To use .at, pass it both a row and column label separated by a comma.

With **.iat:**

* Selection with .iat is **position based** but it only selects a single scalar value.
* We can't assign new indices and columns.
* To use iat you must pass it an integer for both the row and column locations.

In [ ]:
df = pd.DataFrame([[0, 2, 3], [0, 4, 1], [10, 20, 30]],
     columns=['A', 'B', 'C'])
df

In [ ]:
print(df.at[2,'B',], '\n\n')
print(df.iat[1, 1])

## **32: What's the difference between interpolate() and fillna() in Pandas?**

`Answer:`

* `fillna()` fills the NaN values with a given number with which you want to substitute. It gives you an option to fill according to the index of rows of a pd.DataFrame or on the name of the columns in the form of a python dict.

* `interpolate()` it gives you the flexibility to fill the missing values with many kinds of interpolations between the values like linear, time, etc (which fillna does not provide).

## **Q33: What's the difference between pivot_table() and groupby()?**

`Answer:`

In [ ]:
df = pd.DataFrame({"a": [1,2,3,1,2,3], "b":[1,1,1,2,2,2], "c":np.random.rand(6)})
pd.pivot_table(df, index=["a"], columns=["b"], values=["c"], aggfunc=np.sum)

Using **groupby:**

* The dimensions given are placed into columns.
* The rows are created for each combination of those dimensions.
* To obtain the "equivalent" output as before, we can create a Series of the sum of values c, grouped by all unique combinations of a and b.

In [ ]:
df.groupby(['a','b'])['c'].sum()

* A similar usage of `groupby` is if we omit the ['c']. In this case, it creates a `DataFrame` of the `sums` of all remaining columns grouped by unique values of `a` and `b`.

In [ ]:
df.groupby(["a","b"]).sum()

**As we can see, with pivot_table() the output is a DataFrame, and is easier to specify the changes, meanwhile with groupby() the output can be a DataFrame or Series depending on how we specify the case**

## **34: When to use merge() over concat() and vice-versa in Pandas?**

`Answer:`

* Consider **.concat()** first when combining homogeneous DataFrame, while consider **.merge()** first when combining complementary DataFrame.
* If need to merge vertically, go with **.concat()**. If need to merge horizontally via columns, go with .merge(), which by default merge on the columns in common.

## **35: Explain what is Multi-indexing in Pandas?**

`Answer:`

Multi-indexing, also known as hierarchical indexing, is a feature in pandas that allows you to have multiple levels of row and column labels in a **DataFrame** or Series. It enables you to work with high-dimensional data and organize it in a structured and hierarchical manner.

In a multi-indexed DataFrame, each level of the index represents a different category or dimension of the data. This hierarchical structure provides a way to represent and analyze data that has multiple levels of granularity or classification.

## **36: Workers With The Highest Salaries**

**Asked In Amazon Interview**

You have been asked to find the job titles of the highest-paid employees.
Your output should include the highest-paid title or multiple titles with the same salary.

![image.png](attachment:e7a00d98-66b0-4301-b5fb-3b08577d7645.png)

![image.png](attachment:63650a04-f759-40b6-8e05-d48777c17549.png)


**`Answer:`**

>import pandas as pd<br>
> import numpy as np<br>
> title = title.rename(columns = {"worker_ref_id":"worker_id"})<br>
> merged_df = pd.merge(worker, title, on = "worker_id")<br>
> max_salary = merged_df[merged_df.salary == merged_df.salary.max()]["worker_title"]<br>
> result = max_salary

## **37: Most Profitable Companies**

**Medium: FROBES Interview Question**

Find the 3 most profitable companies in the entire world.
Output the result along with the corresponding company name.
Sort the result based on profits in descending order.

![image.png](attachment:1b0d229a-5dd0-403a-909b-fa0c6c303c9f.png)

**`Answer:`**

> import pandas as pd <br>
> forbes_global_2010_2014.head()<br>
> forbes_global_2010_2014.sort_values('profits', ascending=False)[['company', 'profits']].iloc[:3]

## **38: Users By Average Session Time**

Calculate each user's average session time. A session is defined as the time difference between a page_load and page_exit. For simplicity, assume a user has only 1 session per day and if there are multiple of the same events on that day, consider only the latest page_load and earliest page_exit, with an obvious restriction that load time event should happen before exit time event . Output the user_id and their average session time.

![image.png](attachment:d3d2077c-0592-4608-a303-1f48a630133d.png)

`Answer:`

>import pandas as pd<br>
>facebook_web_log.head()<br>
>facebook_web_log.head()<br>
>facebook_web_log['date'] = facebook_web_log['timestamp'].dt.date<br>
>max_load = facebook_web_log[facebook_web_log['action'] == "page_load"].groupby(['user_id','date'])['timestamp'].max()<br>
>min_exit = facebook_web_log[facebook_web_log['action'] == "page_exit"].groupby(['user_id','date'])['timestamp'].min()<br>
>df = (min_exit - max_load).reset_index()<br>
>df['timestamp'] = df['timestamp'].dt.seconds<br>
>res = df.groupby('user_id')['timestamp'].mean().reset_index()<br>
>res.dropna()

## **39: Activity Rank:**

Find the email activity rank for each user. Email activity rank is defined by the total number of emails sent. The user with the highest number of emails sent will have a rank of 1, and so on. Output the user, total emails, and their activity rank. Order records by the total emails in descending order. Sort users with the same number of emails in alphabetical order.
In your rankings, return a unique value (i.e., a unique rank) even if multiple users have the same number of emails. For tie breaker use alphabetical order of the user usernames.

![image.png](attachment:0af50f59-d9b4-4c8f-b7f8-9c4780f00516.png)

**`Answer:`**

>import pandas as pd<br>
>import numpy as np<br>
>google_gmail_emails.head()<br>
>result = google_gmail_emails.groupby(['from_user'], as_index=False).agg(total = ('from_user', 'count'))<br>
>result = result.sort_values(['total', 'from_user'], ascending=[False, True])<br>
>result['rank'] = result[['total']].rank(ascending=False,method='first')<br>
result

## **40: Monthly Percentage Difference**

Given a table of purchases by date, calculate the month-over-month percentage change in revenue. The output should include the year-month date (YYYY-MM) and percentage change, rounded to the 2nd decimal point, and sorted from the beginning of the year to the end of the year.
The percentage change column will be populated from the 2nd month forward and can be calculated as ((this month's revenue - last month's revenue) / last month's revenue)*100.

![image.png](attachment:4081fa85-30ee-441a-92bc-f79e5d1a688c.png)

`Answe:`

>import pandas as pd<br>
>import numpy as np<br>
>from datetime import datetime<br>
>pd.options.display.float_format = "{:,.2f}".format<br>
>sf_transactions['created_at'] = sf_transactions['created_at'].apply(pd.to_datetime)<br>
>sf_transactions['year_month'] = pd.to_datetime(sf_transactions['created_at']).dt.to_period('M')<br>
>df = sf_transactions.groupby('year_month')<br>['value'].sum().reset_index(name='monthly_revenue').sort_values('year_month')<br>
>df['prev_value'] = df['monthly_revenue'].shift(1)<br>
>df['revenue_diff_pct'] = round(((df['monthly_revenue'] - df['prev_value'])/df['prev_value'])*100, 2)<br>
result = df[['year_month','revenue_diff_pct']].fillna('')


* First create a new column names `year_month` which will extract month and year only from created_at column.
* Group by the new column `year_month` now and sum the values column tab to see the total values used month wise w.r.t to the year.
*

# **SQL**

**Patients** table consists of columns and data like this below:
![image.png](attachment:49279e80-76b3-45d6-9539-1b9ea24bee77.png)

## **Easy 1: Show first name, last name, and gender of patients whose gender is 'M'**

**Answer:**
>SELECT first_name,<br>
       last_name, <br>
       gender <br>
FROM patients<br>
WHERE gender = 'M'

## **Easy 2: Show first name and last name of patients who does not have allergies. (null)**

**Answer:**
>SELECT<br>
	first_name,<br>
    last_name<br>
FROM patients<br>
WHERE allergies != 'NULL'

## **Easy 3: Show first name and last name of patients that weight within the range of 100 to 120 (inclusive)**

**Answer:**

>select first_name,<br>
	   last_name<br>
from patients<br>
where weight between 100 and 120

## **Easy 4:Show first name and last name concatinated into one column to show their full name.**

**Answer:**


>select concat(first_name," ", last_name) as full_name<br>
from patients

## **Easy 5: Show first name, last name, and the full province name of each patient.**

Example: 'Ontario' instead of 'ON'

**Answer:**

> SELECT<br>
  first_name,<br>
  last_name,<br>
  province_name<br>
FROM patients<br>
JOIN province_names ON province_names.province_id = patients.province_id;

## **Easy 6: Show how many patients have a birth_date with 2010 as the birth year.**

**Answer:**

>SELECT<br>
  count(patient_id)<br>
  from patients<br>
  where birth_date LIKE "2010%"<br>

## **Medium 7: Show patient_id and first_name from patients where their first_name start and ends with 's' and is at least 6 characters long.**

**Answer:**
> select patient_id, first_name<br>
from patients<br>
where first_name like "s%s"<br>
AND lEN(first_name) >=6

## **Medium 8: Show unique birth years from patients and order them by ascending.**

**Answer:**

>SELECT DISTINCT year (birth_date) <br>
FROM patients<br>
ORDER BY birth_date ASC;

## **Medium 9: Show the first_name, last_name, and height of the patient with the greatest height.**

**Answer:**

> select first_name, last_name, max(height) AS height<br>
from patients

## **Medium 10: Show unique first names from the patients table which only occurs once in the list.**

For example, if two or more people are named 'John' in the first_name column then don't include their name in the output list. If only 1 person is named 'Leo' then include them in the output.

**Answer:**

> SELECT first_name<br>
FROM patients<br>
GROUP BY first_name<br>
HAVING COUNT(first_name) = 1;

## **Medium 11: Show patient_id, first_name, last_name from patients whos diagnosis is 'Dementia'.**

Primary diagnosis is stored in the admissions table.

**Answer:**
> SELECT<br>
  patients.patient_id,<br>
  first_name,<br>
  last_name<br>
FROM patients<br>
JOIN admissions ON admissions.patient_id = patients.patient_id<br>
WHERE diagnosis = 'Dementia';

## **Medium 12: Display every patient's first_name. Order the list by the length of each name and then by alphbetically**

**Answer:**

> SELECT<br>
  first_name<br>
from patients<br>
order by len(first_name), first_name asc

## **Medium 13: Show the total amount of male patients and the total amount of female patients in the patients table.Display the two results in the same row.**

**Answer:**

> SELECT <br>
  (SELECT count(*) FROM patients WHERE gender='M') AS male_count, <br>
  (SELECT count(*) FROM patients WHERE gender='F') AS female_count;

## **Medium 14: Show first and last name, allergies from patients which have allergies to either 'Penicillin' or 'Morphine'. Show results ordered ascending by allergies then by first_name then by last_name.**

**Answer:**

> select first_name, last_name, allergies<br>
from patients<br>
where allergies = "Penicillin" or allergies = "Morphine"<br>
order by allergies, first_name, last_name

## **Medium 15: Show patient_id, diagnosis from admissions. Find patients admitted multiple times for the same diagnosis.**

**Answer:**

> select patient_id,diagnosis<br>
from admissions<br>
group by patient_id, diagnosis<br>
having count(*)>1

## **Medium 16: Show the city and the total number of patients in the city.Order from most to least patients and then by city name ascending.**

**Answer:**
> select city, count(patient_id) as num_patients<br>
from patients<br>
group by city<br>
order by num_patients desc, city asc;

## **Medium 17: Show first name, last name and role of every person that is either patient or doctor.The roles are either "Patient" or "Doctor"**

**Answer:**

> select city, count(patient_id) as num_patients<br>
from patients<br>
group by city<br>
order by num_patients desc, city asc;

## **Medium 18: name, last name and role of every person that is either patient or doctor.The roles are either "Patient" or "Doctor"**

**Answer:**
>SELECT first_name, last_name, 'Patient' AS role<br>
FROM patients<br>
UNION ALL<br>
SELECT first_name, last_name, 'Doctor' AS role<br>
FROM doctors;

## **Medium 19: Show all allergies ordered by popularity. Remove NULL values from query.**

**Answer:**
> SELECT allergies, COUNT(*) AS popularity<br>
FROM patients<br>
WHERE allergies IS NOT NULL<br>
GROUP BY allergies<br>
ORDER BY popularity DESC;

## **Medium 20: Show all patient's first_name, last_name, and birth_date who were born in the 1970s decade. Sort the list starting from the earliest birth_date.**

**Answer:**

> SELECT<br>
  first_name,<br>
  last_name,<br>
  birth_date<br>
FROM patients<br>
WHERE YEAR(birth_date) BETWEEN 1970 AND 1979<br>
ORDER BY birth_date ASC

## **Medium 21: We want to display each patient's full name in a single column. Their last_name in all upper letters must appear first, then first_name in all lower case letters. Separate the last_name and first_name with a comma. Order the list by the first_name in decending order**
EX: SMITH,jane

**Answer:**

> SELECT CONCAT(UPPER(last_name), ',', LOWER(first_name)) AS full_name<br>
FROM patients<br>
ORDER BY first_name DESC;

## **Medium 22: Show the province_id(s), sum of height; where the total sum of its patient's height is greater than or equal to 7,000.**

**Answer:**
> SELECT province_id, SUM(height) AS total_height<br>
FROM patients<br>
GROUP BY province_id<br>
HAVING SUM(height) >= 7000;

## **Medium 23: Show the difference between the largest weight and smallest weight for patients with the last name 'Maroni'**

**Answer:**

> select max(weight) - MIN(weight) as Diff <br>
from patients<br>
where last_name = "Maroni"

## **Medium 24: Show all of the days of the month (1-31) and how many admission_dates occurred on that day. Sort by the day with most admissions to least admissions.**

**Answer:**

>SELECT DAY (admission_date) AS day_of_month,<br>
	   COUNT(*) AS admissions_count<br>
FROM admissions<br>
GROUP BY day_of_month<br>
ORDER BY admissions_count DESC;

## **Medium 25: Show all columns for patient_id 542's most recent admission_date.**

**Answer:**

>SELECT *<br>
FROM admissions<br>
WHERE patient_id = 542<br>
GROUP BY patient_id<br>
HAVING<br>
  admission_date = MAX(admission_date);

## **Medium 26: Show patient_id, attending_doctor_id, and diagnosis for admissions that match one of the two criteria:**
1. patient_id is an odd number and attending_doctor_id is either 1, 5, or 19.
2. attending_doctor_id contains a 2 and the length of patient_id is 3 characters.

**Answer:**
> SELECT patient_id, attending_doctor_id, diagnosis<br>
FROM admissions<br>
WHERE <br>
  (patient_id % 2 = 1 AND attending_doctor_id IN (1, 5, 19))<br>
  OR<br>
  (attending_doctor_id LIKE '%2%' AND LENGTH(patient_id) = 3);<br>

## **Medium 27: Show first_name, last_name, and the total number of admissions attended for each doctor.Every admission has been attended by a doctor.**

**Answer:**

> select d.first_name,d.last_name, count(*) AS total_admission<br>
from doctors d<br>
JOIN<br>
admissions a ON d.doctor_id = a.attending_doctor_id<br>
group by d.first_name, d.last_name

## **Medium 28: For each doctor, display their id, full name, and the first and last admission date they attended.**

**Answer:**

>select d.doctor_id, concat(first_name, ' ', last_name) as full_name,<br>
	   Min(a.admission_date) as first_admission_date,<br>
       MAX(a.admission_date) as last_admission_date<br>
       from doctors d
JOIn admissions a <br>
ON d.doctor_id = a.attending_doctor_id<br>
GROUP BY d.doctor_id, full_name

## **Medium 29: Display the total amount of patients for each province. Order by descending.**

**Answer:**

> select p.province_name, count(*) AS patient_count<br>
from province_names p <br>
JOIn patients <br>
ON p.province_id = patients.province_id<br>
group by province_name<br>
order by patient_count desc

## **Medium 30:For every admission, display the patient's full name, their admission diagnosis, and their doctor's full name who diagnosed their problem.**

**Answer:**
> SELECT<br>
  CONCAT(patients.first_name, ' ', patients.last_name) as patient_name,<br>
  diagnosis,<br>
  CONCAT(doctors.first_name,' ',doctors.last_name) as doctor_name<br>
FROM patients<br>
  JOIN admissions ON admissions.patient_id = patients.patient_id<br>
  JOIN doctors ON doctors.doctor_id = admissions.attending_doctor_id;

## **Medium 31: display the number of duplicate patients based on their first_name and last_name.**

**Answer:**
>  select first_name,last_name, count(*) as no_of_duplicates<br>
  from patients<br>
  group by first_name,last_name<br>
  having count(*)>1

## **Medium 32: Display patient's full name,height in the units feet rounded to 1 decimal, weight in the unit pounds rounded to 0 decimals birth_date,gender non abbreviated.Convert CM to feet by dividing by 30.48.Convert KG to pounds by multiplying by 2.205.**


**Answer:**

>SELECT<br>
    CONCAT(first_name, ' ', last_name) AS full_name,<br>
    ROUND(height / 30.48, 1) AS height_feet,<br>
    ROUND(weight * 2.205, 0) AS weight_pounds,<br>
    birth_date,<br>
    CASE<br>
        WHEN gender = 'M' THEN 'Male'<br>
        WHEN gender = 'F' THEN 'Female'<br>
        ELSE 'Other'<br>
    END AS gender_non_abbreviated<br>
FROM<br>
    patients;

## **Medium 33: Show patient_id, first_name, last_name from patients whose does not have any records in the admissions table. (Their patient_id does not exist in any admissions.patient_id rows.)**

**Answer:**

> SELECT patient_id, first_name, last_name<br>
FROM patients<br>
WHERE patient_id NOT IN (SELECT DISTINCT patient_id FROM admissions);